@import "./assets/css/fonts.css";
@import "./assets/css/animate.min.css";
/* @import "./css/owl.carousel.min.css"; */
@import "./assets/css/owl.theme.default.min.css";
/* @import "./css/";
@import "./css/"; */
@import "./assets/css/aos.css";
@import "./assets/css/style.css";
/* @import "./css/"; */

:root {
  /* COLORES */
  --blanco: #ffffff;
  --humo: #f8f9fa;
  --humo-2: #f1f1ef;
  --negro-1: #000000;
  --negro-2: #333;
  --negro-3: #43434d;
  --negro-4: #303030;
  --negro-5: rgba(0, 0, 0, 0.412);
  --plomo-1: #7b7b7b;
  --plomo-2: #ccc;
  --plomo-3: #e6e6e6;
  --plomo-4: #999;
  --verde-1: #12947f;
  --verde-2: #0fb78d;
  --verde-3: #11ca9c;
  --verde-4: #5cb100;
  --verde-5: #13e6b1;
  --verde-6: #eef7e5;
  --verde-7: #e7f8f3;
  --naranja-1: #ec661f;
  --naranja-2: #fd9800;
  --naranja-3: #fdefe8;
  --naranja-4: #fff4e5;
  --celeste-1: #4fb0dc;
  --celeste-2: #edf7fb;
  --violeta-1: #6b53ab;
  --violeta-2: #f0edf6;
  --rojo-1: #fc3955;
  

  /* FONTS */
  --fuente-libre: "Libre Baskerville";
  --fuente-mulish: "Mulish";
}
