.contenedor-logo-principal-footer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.figure-logo-principal-footer {
  flex: 1;
  height: 100%;
}

.logo-principal-footer {
  width: 100%;
}

@media (max-width: 992px) {
  .logo-principal-footer {
    width: 80%;
  }
}

@media (max-width: 679px) {
  .logo-principal-footer {
    width: 100%;
  }
}
